/** @format */
/* @import url("https://cdn.syncfusion.com/ej2/material.css"); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
body,
html {
  /* height: 100vh; */
  /* background: #f2f6fd !important; */
  font-family: "DM Sans", sans-serif !important;
}
.App {
  height: 100vh;
}

.todo-item:last-child {
  border-radius: 0 0 1.1rem 1.1rem;
}
.todo-item {
  background-color: #ffffff;
}
 
.light {
  background: #f2f6fd !important;
  color: black !important;
  
}
.dark {
  background: #333 !important;
  color: #ffffff !important;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
.main-blue {
  color: #007bff;
}
.text-logo {
  text-decoration: none;
  font-weight: 700;
  color: #1f1c2e;
  font-size: 1.4rem;
}
.text-logo:hover {
  color: #1f1c2e;
}
.button {
  background: transparent;
  color: #3bd9d9;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  padding: 16px 36px;
  border: 2px solid#3bd9d9;
  border-radius: 32px;
  transform: translate(0);
  overflow: hidden;
  cursor: pointer;
}
.button::before {
  content: "";
  position: absolute;
  background: #3bd9d9;
  width: 8px;
  top: 0;
  bottom: 0;
  left: -32px;
  transform: rotate(-16deg);
  filter: blur(6px);
}
.button:hover:before {
  left: calc(100% + 32px);
  transition: 0.75s;
}
.btn-todo {
  color: #163135;
  border: none;
}
.btn-todo:hover {
  color: #000000;
}
.slide-out-bck-center {
  -webkit-animation: slide-out-bck-center 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
